.avatar {
  height: 5rem;
  width: 5rem;
  position: relative;
  border-radius: 50%;
  background: var(--faint-weak);
  transition: outline 0.085s ease-in-out;

  &__img {
    border-radius: 50%;
  }

  &_hoverable:hover {
    outline: 2px solid var(--accent-strong);
  }
}
